

importFrom( stats,
      "factanal",
      "princomp"
)


importFrom( RColorBrewer,
      "brewer.pal"
)
      
exportClasses(
              "rsrFactanal",
              "rsrPrincomp",
              "rsrBinnedCount"
              )

exportMethods(
              "print",
              "summary",
              "scores",
              "loadings",
              "scoreplot",
              "biplot",
              "pairs"
              )

export(
        "rsrFactanal",
        "factanal.rxCovCor",
        "summary.rsrFactanal",
        "print.rsrFactanal",
        "scores.rsrFactanal",
        "loadings.rsrFactanal",
        "scoreplot.rsrFactanal",
        "rsrFactorPlot",
        "rsrPrincomp",
        "princomp.rxCovCor",
        "summary.rsrPrincomp",
        "predict.rsrPrincomp",
        "print.rsrPrincomp",
        "loadings.rsrPrincomp",
        "plot.rsrPrincomp",
        "scores.rsrPrincomp",
        "biplot.rsrPrincomp",
        "pairs.loadings",
        "rsrComponentPlot",
        "rsrLoadingPlot"
)


S3method(princomp, rxCovCor)
S3method(factanal, rxCovCor)
S3method(print, rsrPrincomp)
S3method(print, rsrFactanal)
S3method(summary, rsrPrincomp)
S3method(summary, rsrFactanal)
S3method(scores, rsrPrincomp)
S3method(scores, rsrFactanal)
S3method(loadings, rsrPrincomp)
S3method(loadings, rsrFactanal)
S3method(biplot, rsrPrincomp)
S3method(scoreplot, rsrFactanal)
S3method(plot, rsrPrincomp)
S3method(predict, rsrPrincomp)
S3method(pairs, loadings)